body {
  background-color: #03071E;
  color: whitesmoke;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  padding-bottom: 15%;
}

.welcome {
  animation-duration: 4s;
  animation-name: slidein;
  border: #6A040F;
  margin: auto;
  padding: 50px;
  text-align: center;
  }
  
  @keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%;
    }
  /* This will animate the h1 by causing it to appear from the side. */
    75% {
      font-size: 200%;
      margin-right: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0;
      width: 100%;
    }
  }

.container {
  text-align: center;
}

.me {
  border: 4px solid #6A040F;
  border-radius: 50%;
  height: 200px;
}

h2 {
  border: 4px solid #6A040F;
  border-radius: 50%; 
}

a:link {
  color: #6A040F;
}

a:visited {
  color: #FFBA08;
}

.contact {
  border: 5px solid black;
  box-sizing: border-box;
  margin: auto;
  padding: auto;
  text-align: center;
}

h4 {
float: right;
padding-right: 12%;
}