body {
  background-color: #03071E;
  color: whitesmoke;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

.welcome {
  text-align: center;
  padding: 50px;
  margin: auto;
  border: #6A040F;
  animation-duration: 3s;
  animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 200%;
      margin-right: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.container {
  text-align: center;
}

.me {
  border: 4px solid #6A040F;
  border-radius: 50%;
  height: 200px;
}

h2 {
  border-radius: 50%;
  border: 4px solid #6A040F; 
}

a:hover {
  color: #6A040F;
}

a:active {
  color: #DC2F02;
}

a:link {
  color: #6A040F;
}

a:visited {
  color: #FFBA08;
}